openapi: 3.0.3
info:
  title: Worker Collection Service
  description: |
    Сервис управления коллекцией объектов класса `Worker`.
    Обмен данными — XML (`application/xml`).
  version: "1.0.0"
servers:
  - url: https://helios.cs.ifmo.ru/~USER/api/v1
    description: Helios (замените на реальный адрес перед защитой)
  - url: http://localhost:8080/api/v1
    description: Локальный запуск

tags:
  - name: workers
    description: CRUD-операции над коллекцией
  - name: queries
    description: Дополнительные операции над коллекцией

paths:
  /workers:
    get:
      tags: [workers]
      summary: Получить список объектов
      description: |
        Возвращает массив объектов с поддержкой фильтрации, сортировки и постраничного вывода.

        **Фильтрация.** Повторяющийся параметр `filter` формата `поле[операция]:значение`.
        Поддерживаются вложенные поля через точку. Несколько `filter` объединяются по «И».
        Операции: `eq`, `ne`, `gt`, `gte`, `lt`, `lte`, `like`.

        **Сортировка.** Повторяющийся параметр `sort`; префикс `-` означает убывание.
      operationId: listWorkers
      parameters:
        - name: filter
          in: query
          description: 'Фильтр вида `поле[операция]:значение`, например `salary[gt]:50000`'
          required: false
          explode: true
          schema:
            type: array
            items:
              type: string
              pattern: '^[a-zA-Z]+(\.[a-zA-Z]+)*\[(eq|ne|gt|gte|lt|lte|like)\]:.+$'
          examples:
            bySalary:
              value: ["salary[gt]:50000"]
            byNestedField:
              value: ["person.location.name[like]:Saint", "status[eq]:HIRED"]
        - name: sort
          in: query
          description: 'Поля сортировки; `-` перед именем — по убыванию'
          required: false
          explode: true
          schema:
            type: array
            items:
              type: string
              pattern: '^-?[a-zA-Z]+(\.[a-zA-Z]+)*$'
          example: ["-salary", "name"]
        - name: page
          in: query
          description: Номер страницы, начиная с 0
          required: false
          schema:
            type: integer
            format: int32
            minimum: 0
            default: 0
        - name: size
          in: query
          description: Количество элементов на странице
          required: false
          schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 100
            default: 20
      responses:
        '200':
          description: Страница коллекции
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/WorkerPage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalError'
    post:
      tags: [workers]
      summary: Добавить новый объект
      operationId: createWorker
      requestBody:
        required: true
        description: 'Объект без полей `id` и `creationDate` — они генерируются сервисом'
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/Worker'
      responses:
        '201':
          description: Объект создан
          headers:
            Location:
              description: URI созданного объекта
              schema:
                type: string
                format: uri
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Worker'
        '400':
          $ref: '#/components/responses/BadRequest'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalError'

  /workers/{id}:
    parameters:
      - $ref: '#/components/parameters/WorkerId'
    get:
      tags: [workers]
      summary: Получить объект по идентификатору
      operationId: getWorkerById
      responses:
        '200':
          description: Найденный объект
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Worker'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
    put:
      tags: [workers]
      summary: Обновить объект по идентификатору
      operationId: updateWorker
      requestBody:
        required: true
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/Worker'
      responses:
        '200':
          description: Обновлённый объект
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Worker'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalError'
    delete:
      tags: [workers]
      summary: Удалить объект по идентификатору
      operationId: deleteWorker
      responses:
        '204':
          description: Объект удалён
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  /workers/groups/coordinates:
    get:
      tags: [queries]
      summary: Сгруппировать объекты по полю coordinates
      description: Возвращает количество элементов в каждой группе.
      operationId: groupWorkersByCoordinates
      responses:
        '200':
          description: Список групп
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/CoordinatesGroupList'
        '500':
          $ref: '#/components/responses/InternalError'

  /workers/end-date/{end-date}/count:
    get:
      tags: [queries]
      summary: Количество объектов с endDate больше заданного
      operationId: countWorkersWithEndDateGreaterThan
      parameters:
        - name: end-date
          in: path
          required: true
          description: Граничное значение даты
          schema:
            type: string
            format: date
          example: '2024-01-01'
      responses:
        '200':
          description: Количество объектов
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/CountResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalError'

  /workers/end-dates/unique:
    get:
      tags: [queries]
      summary: Уникальные значения поля endDate
      operationId: listUniqueEndDates
      responses:
        '200':
          description: Массив уникальных значений
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/EndDateList'
        '500':
          $ref: '#/components/responses/InternalError'

components:
  parameters:
    WorkerId:
      name: id
      in: path
      required: true
      description: Идентификатор объекта, больше нуля
      schema:
        type: integer
        format: int64
        minimum: 1
      example: 1

  responses:
    BadRequest:
      description: Некорректный запрос — невалидный XML, неизвестное поле или неверный формат параметра
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Объект с указанным идентификатором не найден
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/Error'
    UnsupportedMediaType:
      description: Неподдерживаемый Content-Type, ожидается application/xml
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/Error'
    UnprocessableEntity:
      description: Запрос разобран, но нарушены ограничения предметной области
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/Error'
    InternalError:
      description: Внутренняя ошибка сервиса
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/Error'

  schemas:
    Coordinates:
      type: object
      xml:
        name: coordinates
      required: [x, y]
      properties:
        x:
          type: integer
          format: int64
          description: Координата X
          example: 42
        y:
          type: number
          format: double
          description: Координата Y, значение должно быть больше -935
          minimum: -935
          exclusiveMinimum: true
          example: 12.5

    Location:
      type: object
      xml:
        name: location
      required: [x, y, name]
      properties:
        x:
          type: number
          format: double
          example: 10.1
        y:
          type: integer
          format: int32
          example: 20
        name:
          type: string
          description: Название локации, не может быть пустым
          minLength: 1
          maxLength: 878
          example: Saint Petersburg

    Person:
      type: object
      xml:
        name: person
      required: [passportID, location]
      properties:
        passportID:
          type: string
          description: Идентификатор паспорта, длина строки не должна быть больше 31
          minLength: 1
          maxLength: 31
          example: AB1234567
        location:
          $ref: '#/components/schemas/Location'

    Position:
      type: string
      description: Должность работника
      enum:
        - ENGINEER
        - HUMAN_RESOURCES
        - HEAD_OF_DEPARTMENT
        - LEAD_DEVELOPER
        - MANAGER_OF_CLEANING
      example: ENGINEER

    Status:
      type: string
      description: Статус работника
      enum:
        - FIRED
        - HIRED
        - RECOMMENDED_FOR_PROMOTION
        - REGULAR
        - PROBATION
      example: HIRED

    Worker:
      type: object
      xml:
        name: worker
      required: [name, coordinates, salary, status, person]
      properties:
        id:
          type: integer
          format: int64
          minimum: 1
          readOnly: true
          description: Генерируется автоматически, уникален
          example: 1
        name:
          type: string
          description: Имя работника, не может быть пустым
          minLength: 1
          example: Ivan Ivanov
        coordinates:
          $ref: '#/components/schemas/Coordinates'
        creationDate:
          type: string
          format: date-time
          readOnly: true
          description: Устанавливается автоматически при создании
          example: '2024-05-17T12:30:00+03:00'
        salary:
          type: integer
          format: int64
          minimum: 0
          exclusiveMinimum: true
          description: Зарплата, значение должно быть больше нуля
          example: 120000
        endDate:
          type: string
          format: date
          nullable: true
          description: Дата увольнения, может быть не задана
          example: '2025-12-31'
        position:
          allOf:
            - $ref: '#/components/schemas/Position'
          nullable: true
        status:
          $ref: '#/components/schemas/Status'
        person:
          $ref: '#/components/schemas/Person'

    WorkerPage:
      type: object
      xml:
        name: workers
      required: [items, page, size, totalElements, totalPages]
      properties:
        items:
          type: array
          xml:
            name: items
            wrapped: true
          items:
            $ref: '#/components/schemas/Worker'
        page:
          type: integer
          format: int32
          example: 0
        size:
          type: integer
          format: int32
          example: 20
        totalElements:
          type: integer
          format: int64
          example: 137
        totalPages:
          type: integer
          format: int32
          example: 7

    CoordinatesGroup:
      type: object
      xml:
        name: group
      required: [coordinates, count]
      properties:
        coordinates:
          $ref: '#/components/schemas/Coordinates'
        count:
          type: integer
          format: int64
          example: 3

    CoordinatesGroupList:
      type: object
      xml:
        name: groups
      required: [groups]
      properties:
        groups:
          type: array
          xml:
            name: groups
            wrapped: true
          items:
            $ref: '#/components/schemas/CoordinatesGroup'

    CountResult:
      type: object
      xml:
        name: countResult
      required: [count]
      properties:
        count:
          type: integer
          format: int64
          example: 12

    EndDateList:
      type: object
      xml:
        name: endDates
      required: [endDates]
      properties:
        endDates:
          type: array
          xml:
            name: endDates
            wrapped: true
          items:
            type: string
            format: date
            xml:
              name: endDate
          example: ['2024-01-01', '2025-12-31']

    Error:
      type: object
      xml:
        name: error
      required: [code, message, timestamp]
      properties:
        code:
          type: integer
          format: int32
          description: HTTP-код ответа
          example: 422
        message:
          type: string
          description: Человекочитаемое описание ошибки
          example: 'salary must be greater than 0'
        details:
          type: array
          xml:
            name: details
            wrapped: true
          items:
            type: string
            xml:
              name: detail
        timestamp:
          type: string
          format: date-time
          example: '2024-05-17T12:30:00+03:00'
